# private sections for personal brainstorming and planning process

# ----------------------------------------------------------------
# private docs
docs/map/private/
# ----------------------------------------------------------------