# private sections for personal brainstorming and planning process

# ----------------------------------------------------------------
# private docs
docs/map/private/
# ----------------------------------------------------------------

# standard files to ignore
node_modules
.env

# development tools to ignore
development/